*.log
.DS_Store
node_modules
dist
dist.zip
.idea
coverage
.env
/sqlite.db
/test.db
educorvi-persistent-rita-*.tgz


.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
