name: Deploy to Server

on:
    workflow_dispatch:
    workflow_call:

jobs:
    deploy:
        name: Deploy
        environment: Deploy to Rita Server
        runs-on: ubuntu-latest
        steps:
            - name: deploy to server
              uses: appleboy/ssh-action@v1
              with:
                  host: ${{ secrets.HOST }}
                  username: ${{ secrets.USERNAME }}
                  password: ${{ secrets.PASSWORD }}
                  port: ${{ secrets.PORT }}
                  timeout: 5m
                  script: |
                      cd ~/rita
                      git pull
                      node common/scripts/install-run-rush.js install
                      node common/scripts/install-run-rush.js build -t rita-http
                      pm2 restart rita-http
