name: Release

on:
  push:
    branches:
      - 'release/*'
  workflow_dispatch:

permissions:
  contents: write # to be able to publish a GitHub release
  issues: write # to be able to comment on released issues
  pull-requests: write # to be able to comment on released pull requests
  id-token: write # to enable use of OIDC for trusted publishing and npm provenance

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          fetch-tags: 'true'
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          cache: 'yarn'
          node-version: 'lts/*'
      - run: yarn install
      - run: yarn run build
        name: Build all workspaces
      - name: Set old versions
        run: yarn run setOldVersions
      - run: yarn run release
        name: Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  buildDocker:
    needs: [ release ]
    uses: ./.github/workflows/docker.yml
    secrets: inherit
#  githubPackages:
#    needs: [ release ]
#    uses: ./.github/workflows/github_packages.yml
#    secrets: inherit
  deploy:
    needs: [ release ]
    uses: ./.github/workflows/deploy.yml
    secrets: inherit